openapi: 3.2.0
info:
  title: Theloopbreaker Com Agent API
  version: 3.4.0
  contact:
    url: https://theloopbreaker.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: 'Operations tagged Agent across 2 of this provider''s published API definitions: theloopbreaker-com-openapi.json, theloopbreaker-com-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://theloopbreaker.com/api
  description: Production
tags:
- name: Agent
  description: Agent identity and trust profiles
paths:
  /agent/status:
    get:
      operationId: getAgentStatus
      summary: Full trust profile for an agent
      description: Identity status, Street Cred score (0-95), on-chain rating, partnership bonds, bond tier.
      tags:
      - Agent
      parameters:
      - name: address
        in: query
        required: true
        schema:
          type: string
        description: Wallet address (0x...)
      responses:
        '200':
          description: Trust profile
    servers:
    - url: https://theloopbreaker.com/api
      description: Production
  /agent/status/batch:
    post:
      operationId: batchAgentStatus
      summary: Batch trust profile lookup
      description: Check up to 25 agent addresses in one call.
      tags:
      - Agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - addresses
              properties:
                addresses:
                  type: array
                  items:
                    type: string
                  maxItems: 25
                  description: Array of wallet addresses
                chain:
                  type: string
                  enum:
                  - base
                  - avalanche
                  - arbitrum
                  - polygon
                  default: base
      responses:
        '200':
          description: Array of trust profiles
    servers:
    - url: https://theloopbreaker.com/api
      description: Production
  /agent/register:
    post:
      operationId: registerAgent
      summary: Build an ERC-8004 identity registration transaction
      tags:
      - Agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - walletAddress
              properties:
                name:
                  type: string
                walletAddress:
                  type: string
                chain:
                  type: string
                  enum:
                  - base
                  - avalanche
                  - arbitrum
                  - polygon
                  default: base
      responses:
        '200':
          description: Unsigned transaction to submit on-chain
    servers:
    - url: https://theloopbreaker.com/api
      description: Production
x-refined-from:
- theloopbreaker-com-openapi.json
- theloopbreaker-com-openapi.yml
