openapi: 3.2.0
info:
  title: Vaultfire Agent Hub Compliance API
  version: 3.4.0
  description: The trust infrastructure for AI agents. On-chain identity, verifiable reputation, partnership bonds, task marketplace, cross-chain bridge, and more. All endpoints are public and require no authentication for reads.
  contact:
    url: https://theloopbreaker.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://theloopbreaker.com/api
  description: Production
tags:
- name: Compliance
  description: Mission enforcement, privacy, validation
paths:
  /agent/mission:
    get:
      operationId: getMissionCompliance
      summary: Check agent mission compliance from MissionEnforcement
      tags:
      - Compliance
      parameters:
      - name: chain
        in: query
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Mission enforcement data
  /agent/privacy:
    get:
      operationId: getPrivacyStatus
      summary: Privacy + anti-surveillance protections status
      tags:
      - Compliance
      parameters:
      - name: chain
        in: query
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: AntiSurveillance + PrivacyGuarantees contract info
  /agent/validation:
    get:
      operationId: getValidationStatus
      summary: ERC-8004 validation compliance status
      tags:
      - Compliance
      parameters:
      - name: chain
        in: query
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ERC8004ValidationRegistry data
