openapi: 3.2.0
info:
  title: Theloopbreaker Com Compliance API
  version: 3.4.0
  contact:
    url: https://theloopbreaker.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: 'Operations tagged Compliance across 2 of this provider''s published API definitions: theloopbreaker-com-openapi.json, theloopbreaker-com-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://theloopbreaker.com/api
  description: Production
tags:
- name: Compliance
  description: Mission enforcement, privacy, validation
paths:
  /agent/mission:
    get:
      operationId: getMissionCompliance
      summary: Check agent mission compliance from MissionEnforcement
      tags:
      - Compliance
      parameters:
      - name: chain
        in: query
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Mission enforcement data
    servers:
    - url: https://theloopbreaker.com/api
      description: Production
  /agent/privacy:
    get:
      operationId: getPrivacyStatus
      summary: Privacy + anti-surveillance protections status
      tags:
      - Compliance
      parameters:
      - name: chain
        in: query
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: AntiSurveillance + PrivacyGuarantees contract info
    servers:
    - url: https://theloopbreaker.com/api
      description: Production
  /agent/validation:
    get:
      operationId: getValidationStatus
      summary: ERC-8004 validation compliance status
      tags:
      - Compliance
      parameters:
      - name: chain
        in: query
        required: true
        schema:
          type: string
      - name: address
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: ERC8004ValidationRegistry data
    servers:
    - url: https://theloopbreaker.com/api
      description: Production
x-refined-from:
- theloopbreaker-com-openapi.json
- theloopbreaker-com-openapi.yml
