openapi: 3.2.0
info:
  title: Theloopbreaker Com Keys API
  version: 3.4.0
  contact:
    url: https://theloopbreaker.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: 'Operations tagged Keys across 2 of this provider''s published API definitions: theloopbreaker-com-openapi.json, theloopbreaker-com-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://theloopbreaker.com/api
  description: Production
tags:
- name: Keys
  description: Vaultfire Key Protocol — session keys, delegation, wallets
paths:
  /agent/keys:
    get:
      operationId: getVKPStatus
      summary: VKP status — session keys, delegations, key wallets
      tags:
      - Keys
      parameters:
      - name: chain
        in: query
        required: true
        schema:
          type: string
          enum:
          - base
          - avalanche
          - arbitrum
          - polygon
      responses:
        '200':
          description: VKP stats from SessionKeyManager, DelegationRegistry, Factory
    post:
      operationId: prepareVKPAction
      summary: Prepare a VKP transaction — createWallet, createSession, delegate, revoke
      tags:
      - Keys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - action
              - walletAddress
              properties:
                action:
                  type: string
                  enum:
                  - createWallet
                  - createSession
                  - delegate
                  - revoke
                  - revokeSession
                walletAddress:
                  type: string
                chain:
                  type: string
                  default: base
      responses:
        '200':
          description: Contract address and ABI for VKP action
    servers:
    - url: https://theloopbreaker.com/api
      description: Production
x-refined-from:
- theloopbreaker-com-openapi.json
- theloopbreaker-com-openapi.yml
