openapi: 3.2.0
info:
  title: Theloopbreaker Com Bonds API
  version: 3.4.0
  contact:
    url: https://theloopbreaker.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: 'Operations tagged Bonds across 2 of this provider''s published API definitions: theloopbreaker-com-openapi.json, theloopbreaker-com-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://theloopbreaker.com/api
  description: Production
tags:
- name: Bonds
  description: Partnership and accountability bonds
paths:
  /agent/bond:
    post:
      operationId: createBond
      summary: Build a partnership bond creation transaction
      tags:
      - Bonds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - walletAddress
              - agentAddress
              - amountEth
              properties:
                walletAddress:
                  type: string
                agentAddress:
                  type: string
                amountEth:
                  type: string
                chain:
                  type: string
                  enum:
                  - base
                  - avalanche
                  - arbitrum
                  - polygon
                  default: base
      responses:
        '200':
          description: Unsigned bond creation transaction
    servers:
    - url: https://theloopbreaker.com/api
      description: Production
  /agent/partnerships:
    get:
      operationId: getPartnerships
      summary: List all partnership bonds for an address
      tags:
      - Bonds
      parameters:
      - name: address
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Bond list
    servers:
    - url: https://theloopbreaker.com/api
      description: Production
x-refined-from:
- theloopbreaker-com-openapi.json
- theloopbreaker-com-openapi.yml
